// ========  Desktop First Method  ========

// -= LG =- Wide Screens
@media screen and (max-width: 1200px)
 .menu
  &__item
   margin-right: 0
   margin-left: 16px
  &__link
   font-size: 15px
 .mission
  &__text
   &_left
    max-width: 42rem
 .home-footer
  font-size: 10px
// -= MD =- Desktops
@media screen and (max-width: 992px)
 .top-nav
  .menu
   justify-content: flex-end
 .home-footer
  .cta
   margin-top: 2.5rem
  .author
   margin-top: 2.5rem
  .footer-btn
   margin: 0 auto
   margin-top: 2rem
 .secondary-nav
  li
   padding: 10px
 .contacts
  &__block
   top: 110px
   padding-bottom: 20px
  &__heading
    flex-direction: column
  &__links
    margin-right: 25px
 .mission
  &__text
    &_left, &_right
      max-width: none
// -= SM =- Tablets
@media screen and (max-width: 768px)
 .top-nav
  .menu
   justify-content: flex-end
 .capacity
  &__item
   &:first-child
    padding-left: 15px
   &:last-child
    padding-right: 15px
 .contacts
  &__block
   padding-bottom: 30px


// -= XS =- Phones
@media screen and (max-width: 576px)
 .top-nav
  .menu
   flex-direction: column
   &__item
    margin-bottom: 10px
    text-align: center
  .request-btn
   margin-left: 40%
  .burger
   margin-left: 30px
 .secondary-nav
  flex-direction: column
  li
   padding: 12px
 .points
  h2
   font-size: 24px
  &__item
    flex-direction: column
    img
      margin-bottom: 20px
 .capacity
  &__item
   &:first-child
    padding-left: 15px
   &:last-child
    padding-right: 15px
 .category
  &__consult
   span
    display: block
 .contacts
  &__info
   margin: 0
   
  &__heading
   h3
    display: none
  &__links
   display: none
  &__block
   top: 278px
   right: 0
   left: 0
   padding: 10px
   padding-top: 0
   padding-bottom: 0
 .lower-nav
  &__item
    text-align: center
 .box-modal
  max-width: 60%


// Custom, iPhone Retina
@media screen and (max-width: 320px)


// ========  Mobile First Method  ========

// Custom, iPhone Retina
@media screen and (min-width: 320px)

// Extra Small Devices, Phones
@media screen and (min-width: 576px)

// Small Devices, Tablets
@media screen and (min-width: 768px)

// Medium Devices, Desktops
@media screen and (min-width: 992px)

// Large Devices, Wide Screens
@media screen and (min-width: 1200px)